fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
python-dotenv
passlib
bcrypt
passlib
python-jose[cryptography]
python-multipart
alembic 
sib-api-v3-sdk
email-validator
pytz
requests
python-docx==1.0.1
google-auth
google-auth-oauthlib
google-auth-httplib2